@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Permanent+Marker&family=Roboto:wght@400;700&display=swap');

/* common property */
* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto', sans-serif;
}

.banner {
    background-repeat: no-repeat;
    background-size: cover;
    width: 82.50%;
    height: 720px;
    border-radius: 20px;
    margin: 120px auto 0px;
}

p {
    font-size: 24px;
}

.btn {
    padding: 16px 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(248, 120, 120);
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    background-color: rgb(250, 29, 29);
}


/* banner design */

.banner1 {
    background-image: linear-gradient(rgba(5, 5, 5, 0.5), rgba(5, 5, 5, 0.5)), url('../images/Banner\ Image.png');
}

.banner-text {
    width: 48%;
    max-width: 632px;
    margin: 0 auto;
    padding: 250px 0;
}

.banner-text h1 {
    color: #ffffff;
    text-align: center;
    font-size: 72px;
}

.banner-text p {
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

.holiday-deals {
    text-align: center;
    width: 60%;
    max-width: 800px;
    margin: 120px auto;
}

.holiday-deals h1 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 25px;
}

.holiday-deals p {
    color: #F00;
    font-family: Inter;
    font-weight: 500;
    margin-bottom: 20px;
}

.holiday-deals h3 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

/* welcome party banner */
.banner2 {
    background-image: linear-gradient(rgba(5, 5, 5, 0.5), rgba(5, 5, 5, 0.5)), url('../images/Vectorrr.png');
}

.placement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 130px;
}

.banner2_text {
    width: 48%;
    max-width: 697px;
}

.banner2_text h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
}

.banner2_text p {
    color: #FFF;
    margin: 25px 0 50px;
}

/* address banner */

.party-address {
    background-image: linear-gradient(rgb(243, 192, 192), rgb(255, 216, 216));
}

#place-color {
    color: #F00;
}

.address {
    text-align: center;
    width: 60%;
    max-width: 800px;
    margin: auto;
    padding: 300px 0;
}

.address p {
    line-height: 30pt;
    margin-bottom: 30px;
}

/* new best offer design */

.new-best-offer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
}

#new-best-offer-text-left {
    width: 48%;
    max-width: 394px;
}

#new-best-offer-image {
    border: 10px solid red;
    border-radius: 50%;
    padding: 15px;
}

#header {
    color: #F00;
    font-family: Inter;
}

.heading {
    margin: 20PX 0;
}

#new-best-offer-text-left h2 {
    color: #070211;
    font-size: 48px;
}

#new-best-offer-text-right {
    width: 48%;
    max-width: 394px;
}

#new-best-offer-text-right p {
    margin-bottom: 35px;
}

.col2024 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
}

/* best gift section */

.best-gift {
    width: 82.50%;
    margin: 120px auto 0px;
}

#best-gift-paragraph {
    width: 48%;
    max-width: 896px;
    margin-bottom: 25px;
}

#title-paragraph {
    color: #F00;
    font-family: Inter;
}

.best-gift-text h2 {
    color: #070211;
    font-size: 48px;
    margin: 20PX 0;
}

.best-gift-image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.single-image {
    padding: 40px 0 0;
}

.img:hover {
    opacity: 0.5;
    transition: 0.9;
}

/* subscribe newsletter section */

.subscribe-newsletter {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin-bottom: 100px;
    padding: 80px 0;
    height: 616px;
}

.subscribe-newsletter-text {
    width: 48%;
    max-width: 896px;
    margin: auto;
}

.subscribe-newsletter-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    margin: 40px 0 20px;
}

.subscribe-newsletter-text form {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
}

.subscribe-newsletter-text form input {
    flex-grow: 1;
    flex-grow: 1;
    border: none;
    border-radius: 50px 0 0 50px;
    padding: 10px;
    font-size: 20px;
    height: 50px;
    outline: 1px solid;
}

.subscribe-newsletter-text form #subscribe-btn {
    height: 73px;
    border-radius: 5px 50px 50px 0px;
    left: -5%;
}

/* footer design */
footer {
    color: #FFF;
    background-color: #070211;
}

.footer-address {
    display: flex;
    justify-content: space-between;
    padding: 100px 140px;
}

#footer-address-peragraph {
    width: 48%;
    max-width: 500px;
}

.phone {
    display: inline-block;
}

.web {
    display: inline-block;
}

.h {
    height: 1px;
    width: 80%;
    margin: 10px auto 0;
    background-color: #FFF;
}

.footer-link {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.footer-img {
    margin-right: 30px;
}